.input {
  composes: box from "./shared.module.css";
}

.input:disabled {
  cursor: not-allowed;
}

input::placeholder {
  color: var(--blue-grey-400);
}

.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}