.box {
  border: 1px solid var(--blue-grey-700);
  border-radius: 4px;
  padding-block: 8px;
  padding-inline: 16px;
  max-width: var(--form-width);
  min-height: 44px;
  width: 100%;
  background: var(--white);
  text-align: left;
}
.box:is(:disabled) {
  opacity: 0.25;
  cursor: not-allowed;
}