@font-face {
  font-family: "Halyard Display";
  src: url("/fonts/HalyardDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

:root {
  --halyard: "Halyard Display";
}